## Food choices cleaing notebook

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/food-choices/food_coded.csv
/kaggle/input/food-choices/codebook_food.docx

In [4]:
file_path = '/kaggle/input/food-choices/food_coded.csv'
df = pd.read_csv(file_path)

First I will be getting the information about this dataframe

In [6]:
((df.info()
 ))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

As show above we can see that some of the columns have missing values that we need to fix by either removing the missing values or
providing an alternative appropiate value

In order to check that the datatype in each column is appropiate first I will check the float type columns

In [8]:
((df
 .select_dtypes('float64')
 .isna()
 .sum()))

calories_day                  19
calories_scone                 1
comfort_food_reasons_coded    19
cook                           3
cuisine                       17
drink                          2
employment                     9
exercise                      13
father_education               1
fav_food                       2
income                         1
life_rewarding                 1
marital_status                 1
mother_education               3
on_off_campus                  1
persian_food                   1
self_perception_weight         1
soup                           1
sports                         2
tortilla_calories              1
dtype: int64

Following the same procedure to check the other data type colums such as object datatypes and int datatypes

In [9]:
((df
  .select_dtypes('int64')
  .isna()
  .sum()
 ))

Gender                          0
breakfast                       0
calories_chicken                0
coffee                          0
comfort_food_reasons_coded.1    0
diet_current_coded              0
eating_changes_coded            0
eating_changes_coded1           0
eating_out                      0
ethnic_food                     0
fav_cuisine_coded               0
fries                           0
fruit_day                       0
grade_level                     0
greek_food                      0
healthy_feeling                 0
ideal_diet_coded                0
indian_food                     0
italian_food                    0
nutritional_check               0
parents_cook                    0
pay_meal_out                    0
thai_food                       0
turkey_calories                 0
veggies_day                     0
vitamins                        0
waffle_calories                 0
dtype: int64

In [11]:
((df
  .select_dtypes('object')
  .isna()
  .sum()
))

GPA                      2
comfort_food             1
comfort_food_reasons     1
diet_current             1
eating_changes           3
father_profession        3
fav_cuisine              2
food_childhood           1
healthy_meal             1
ideal_diet               1
meals_dinner_friend      3
mother_profession        2
type_sports             21
weight                   2
dtype: int64

After inspecting the data type columns we can conclude that the int type columns do not have missing values

In [17]:
((df
  .head()
))

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

Afther further inspection I noticed that most of the data in this dataframe is collected in an ordinal fashion. Therefore I will aim to change the missing values according to the ordinal values provided in the docx document and remove columns that might be considered duplicate data.

In [23]:
drop_cols = ['type_sports', 'mother_profession', 'meals_dinner_friend',
            'ideal_diet', 'healthy_meal', 'food_childhood', 'fav_cuisine',
            'father_profession', 'eating_changes', 'diet_current', 'comfort_food',
            'comfort_food_reasons']

Now after selecting which columns we do not need in our dataframe we are going to check for missing values in the object datatype columns

In [24]:
((df.drop(columns=drop_cols)
  .select_dtypes('object')
  .isna()
  .sum()
))

GPA       2
weight    2
dtype: int64

Now that we have reduced the number of missing values in the dataframe by removing some of the object data type columns that had duplicate data, I am ready to fill the missing values in the float data type columns.

The docx document 'codebook_food.docx' contains the ordinal values for the remaining columns in the dataframe. Following the indicated ordinal values
in the docx document I will fill the missing values as if I was using an imputter that fills the missing values with the most common value

In [26]:
df['calories_scone'] = df['calories_scone'].fillna(*df['calories_scone'].mode())
df['father_education'] = df['father_education'].fillna(*df['father_education'].mode())
df['income'] = df['income'].fillna(*df['income'].mode())
df['life_rewarding'] = df['life_rewarding'].fillna(*df['life_rewarding'].mode())
df['mother_education'] = df['mother_education'].fillna(*df['mother_education'].mode())
df['on_off_campus'] = df['on_off_campus'].fillna(*df['on_off_campus'].mode())
df['self_perception_weight'] = df['self_perception_weight'].fillna(*df['self_perception_weight'].mode())
df['soup'] = df['soup'].fillna(*df['soup'].mode())
df['drink'] = df['drink'].fillna(*df['drink'].mode())

For the rest of the float type columns there are ordinal options in the docx document that point to value for missing value, therefore I will use the value provided by the docx document to fill the missing values.

In [28]:
df['comfort_food_reasons'] = df['comfort_food_reasons'].fillna(9)
df['cook'] = df['cook'].fillna(5)
df['cuisine'] = df['cuisine'].fillna(6)
df['employment'] = df['employment'].fillna(4)
df['exercise'] = df['exercise'].fillna(5)
df['marital_status'] = df['marital_status'].fillna(1)
df['sports'] = df['sports'].fillna(99)
# Additionally removing 'fav_cuisine' since 'fac_cuisine_coded' already exist
drop_cols.append('fav_cuisine')

As mentioned before, most of the values in these columns are ordinally encoded. However, the datatype for these columns appear to be float datatype
therefore we need to change the data type back to a int since its an ordinally encoded dataframe.

In [36]:
# collecting float number columns to convert to int16
int_col = df.select_dtypes('float64').columns

Lastly we need to make some additional chnages to the last two object type columns and fill their missing values. Looking closely to the data in both of these columns we can see that there may be come values that were entered incorrectly into the dataframe. To fix this issue we will grab all of the 
numerical values with decimal places in the GPA column and all the numerical values in the wieght column.

In [32]:
df['GPA'] = df['GPA'].str.extract(pat='(\d+\.\d+)', expand=True)
df['weight'] = df['weight'].str.extract(pat='(\d+)', expand=True)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,NaN
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,240
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,NaN,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,99.0,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,NaN,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

Lastly I will create a dictionary to set the float data type columns into int data types with the exception of the GPA column which has float values

In [37]:
col_dict = dict(set((i, 'int16') for i in int_col))
col_dict['GPA'] = 'float32'
col_dict['weight'] = 'int16'

((df
  .drop(columns=drop_cols)
  .dropna()
  .astype(col_dict)
 ))

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
1,3.654,1,1,610,3,420,2,1,3,1,...,3,1,1,2,725,690,4,2,900,155
3,3.200,1,1,430,3,420,2,2,2,2,...,5,1,2,5,725,690,3,1,1315,240
4,3.500,1,1,720,2,420,2,1,1,1,...,4,1,1,4,940,500,4,2,760,190
5,2.250,1,1,610,3,980,2,4,3,4,...,5,1,2,4,940,345,1,2,1315,190
6,3.800,2,1,610,3,420,2,1,2,1,...,4,1,1,5,940,690,4,1,1315,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,3.750,2,1,610,3,420,2,5,2,5,...,3,1,1,5,940,690,5,1,1315,175
96,3.920,2,1,430,3,420,2,7,2,7,...,6,1,2,3,725,500,2,1,900,210
97,3.900,1,1,720,3,420,2,2,3,2,...,3,1,1,3,1165,500,5,2,760,155
99,3.200,1,1,430,4,420,1,3,4,3,...,3,1,1,1,1165,690,5,1,900,165
103,3.700,1,1,610,3,420,2,8,2,5,...,6,1,2,3,725,345,5,1,760,130