## Data Science Job Posting Glassdoor cleaning notebook

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
file_path = '/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv'

df = pd.read_csv(file_path, index=False)
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

First we take a look at the data types in the dataframe

In [5]:
((df.dtypes))

index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

Then we take a look at the float datatypes

In [8]:
((df
  .select_dtypes('float64')
  .describe().T
))

        count      mean       std  min  25%  50%  75%  max
Rating  672.0  3.518601  1.410329 -1.0  3.3  3.8  4.3  5.0

Since there is only one column with float data type we will check to make sure that it doens't have any missing values

In [10]:
((df
 .Rating
 .value_counts(dropna=False)
 ))

 3.5    58
-1.0    50
 4.0    41
 3.3    41
 3.9    40
 3.8    39
 3.7    38
 5.0    36
 4.5    32
 3.6    31
 3.4    31
 4.2    29
 4.1    25
 4.4    24
 4.7    22
 3.2    21
 4.8    20
 4.3    14
 2.9    14
 4.6    12
 3.1    12
 4.9    11
 2.7    10
 3.0     7
 2.6     4
 2.8     3
 2.5     2
 2.2     1
 2.4     1
 2.3     1
 2.1     1
 2.0     1
Name: Rating, dtype: int64

Now we are going to check for missing values in all columns with the followin command

In [14]:
((df
  .info()
))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB
(672, 15)

Here we have confirmation that there are no missing values or 'NaN' values in any of columns for this dataframe.
Furthermore we would like to take a look at the type of data in the object data type columns with the following code.

In [17]:
object_col = list(df.select_dtypes('object').columns)
# Remove 'Job Description' since the data in that column has too many strings for the code to be able to print
# a distinct option for every object type column
object_col.remove('Job Description')
for i in object_col:
    print((df
          [i]
          .value_counts()
          ))

Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: Job Title, Length: 172, dtype: int64
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: Salary Estimate, dtype: int64
Hatch Data Inc                      12
Maxar Technologies\n3.5             12
Tempus Labs\n3.3                    11
AstraZeneca\n4.0                    10
Klaviyo\n4.8                         8
                                    ..
Better Hire\n4.0                     1
Rincon Research Corporation\n4.2     1
Descript\n4.3                        1
Trace Data\n3.9                      1
ChaTeck Incorporated\n5.0            1
Name: Company Name, Length: 432, dtype: int64
San Francisco, CA    69
New York, NY         50
Washington, DC       26
Boston, MA           24
Chicago, IL          22
                     ..
Oshkosh, WI           1
Culver City, CA       1
Lake Oswego, OR       1
New Orleans, LA       1
Irwindale, CA         1
Name: Location, Length: 207, dtype: int64
New York, NY         33
-1                   31
San Francisco, CA    31
Chicago, IL          23
Boston, MA           19
                     ..
Irving, TX            1
Scottsdale, AZ        1
Greensboro, NC        1
Newark, CA            1
Fort Lee, NJ          1
Name: Headquarters, Length: 229, dtype: int64
51 to 200 employees        135
1001 to 5000 employees     104
1 to 50 employees           86
201 to 500 employees        85
10000+ employees            80
501 to 1000 employees       77
5001 to 10000 employees     61
-1                          27
Unknown                     17
Name: Size, dtype: int64
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Subsidiary or Business Segment     28
-1                                 27
Government                         10
Other Organization                  5
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: Type of ownership, dtype: int64
-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: Industry, dtype: int64
Information Technology                188
Business Services                     120
-1                                     71
Biotech & Pharmaceuticals              66
Aerospace & Defense                    46
Finance                                33
Insurance                              32
Manufacturing                          23
Health Care                            21
Government                             17
Oil, Gas, Energy & Utilities           10
Retail                                  7
Telecommunications                      7
Transportation & Logistics              6
Media                                   5
Real Estate                             3
Travel & Tourism                        3
Agriculture & Forestry                  3
Education                               3
Accounting & Legal                      3
Construction, Repair & Maintenance      2
Consumer Services                       2
Non-Profit                              1
Name: Sector, dtype: int64
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: Revenue, dtype: int64
-1                                                                501
Roche, GlaxoSmithKline, Novartis                                   10
Los Alamos National Laboratory, Battelle, SRI International         6
Leidos, CACI International, Booz Allen Hamilton                     6
MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman           3
                                                                 ...
Pfizer, GlaxoSmithKline                                             1
Square, Amazon, Apple                                               1
Lumentum Operations, Keysight Technologies, O-Net Technologies      1
Munich Re, Hannover RE, SCOR                                        1
Genomic Health, Myriad Genetics, The Broad Institute                1
Name: Competitors, Length: 108, dtype: int64

We can see that a lot of these columns have '-1' in their entries. Lets find how many entries of '-1' are there
in every object data type column with the exception of 'Job description'

In [18]:
((df[object_col]
  .eq('-1')
  .sum()
 ))

Job Title              0
Salary Estimate        0
Company Name           0
Location               0
Headquarters          31
Size                  27
Type of ownership     27
Industry              71
Sector                71
Revenue               27
Competitors          501
dtype: int64

This dataframe illustrates the number of missing values per object data type column. Later on we will
have to replace the missing values with better alternatives.

The first change we are going to make for the dataframe is change the salary_estimate column
and remove where the data was gathered from since we already know that the csv file comes
from glassdoor data collection

In [21]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str
  .replace(r"\(.+?\)", '', regex=True)
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K

Then if we take a closer look at the company names we can see that some of the names have left over 
unicode values which needs to be removed

In [22]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str
  .replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
  .str
  .replace('\\n.*', '', regex=True),
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers

Next I will modify the values in Location and split it in two columns: City, and State

In [25]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str
  .replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
  .str
  .replace('\\n.*', '', regex=True),
  City=df.Location
  .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
  .str.split(pat=',', expand=True).iloc[:,1],
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name,City,State
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst,New York,NY
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech,Chantilly,VA
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group,Boston,MA
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON,Newton,MA
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT,Fort Lee,NJ
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT,San Francisco,CA
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope,Irwindale,CA
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers,New York,NY

Next I will replace all of the missing values in headquarters to 'Overseas'

In [26]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
  .str.replace('\\n.*', '', regex=True),
  City=df.Location
  .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
  .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
  .str.replace('-1', 'Overseas'),
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name,City,State,headquarters
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst,New York,NY,"New York, NY"
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA"
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA"
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland"
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions,New York,NY,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ"
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT,San Francisco,CA,Overseas
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope,Irwindale,CA,Overseas
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA"
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY"

For the size missing values I will replace it with the value 'unknown'

In [27]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
  .str.replace('\\n.*', '', regex=True),
  City=df.Location
  .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
  .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
  .str.replace('-1', 'Overseas'),
  size=df.Size
  .str.replace('-1', 'unknown'),
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name,City,State,headquarters,size
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees

I will do the same for the type of ownership missing values as previously done for size

In [28]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
  .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
  .str.replace('\\n.*', '', regex=True),
  City=df.Location
  .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
  .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
  .str.replace('-1', 'Overseas'),
  size=df.Size
  .str.replace('-1', 'unknown'),
  type_of_ownership=df['Type of ownership']
  .str.replace('-1', 'unknown')
  .str.replace('/', '-'),
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name,City,State,headquarters,size,type_of_ownership
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees,Nonprofit Organization
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees,Company - Public
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees,Private Practice - Firm
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees,Company - Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees,Company - Private
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown,unknown
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown,unknown
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees,Company - Private
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees,Company - Public

For missing values in the industry column I will replace it with the value 'Other'

In [29]:
((df[object_col]
  .assign(salary_estimate=df['Salary Estimate']
          .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
          .str.replace('\\n.*', '', regex=True),
  City=df.Location
          .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
          .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
          .str.replace('-1', 'Overseas'),
  size=df.Size
          .str.replace('-1', 'unknown'),
  type_of_ownership=df['Type of ownership']
          .str.replace('-1', 'unknown')
          .str.replace('/', '-'),
  industry=df.Industry
          .str.replace('-1', 'Other'),
         )
))

,Job Title,Salary Estimate,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary_estimate,company_name,City,State,headquarters,size,type_of_ownership,industry
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers
1,Data Scientist,$137K-$171K (Glassdoor est.),ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development
2,Data Scientist,$137K-$171K (Glassdoor est.),Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees,Private Practice - Firm,Consulting
3,Data Scientist,$137K-$171K (Glassdoor est.),INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing
668,Data Scientist,$105K-$167K (Glassdoor est.),JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown,unknown,Other
669,Data Scientist,$105K-$167K (Glassdoor est.),AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown,unknown,Other
670,Data Scientist,$105K-$167K (Glassdoor est.),ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing
671,Data Scientist,$105K-$167K (Glassdoor est.),1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale

For our final change to the dataframe I will drop the column Competitors since it has 90% of its data missing and I would also drop the original
columns that I have modified to avoid duplicate data.

In [34]:
((df
  .assign(salary_estimate=df['Salary Estimate']
          .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
          .str.replace('\\n.*', '', regex=True),
  City=df.Location
          .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
          .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
          .str.replace('-1', 'Overseas'),
  size=df.Size
          .str.replace('-1', 'unknown'),
  type_of_ownership=df['Type of ownership']
          .str.replace('-1', 'unknown')
          .str.replace('/', '-'),
  industry=df.Industry
          .str.replace('-1', 'Other'),
  sector=df.Sector
          .str.replace('-1', 'unknown')
         )
  .drop(columns=['Salary Estimate', 'Company Name', 'Location',
                'Headquarters', 'Size', 'Type of ownership',
                'Industry', 'Revenue', 'Competitors', 'Sector'])
))

,index,Job Title,Job Description,Rating,Founded,salary_estimate,company_name,City,State,headquarters,size,type_of_ownership,industry,sector
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,1993,$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,1968,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1981,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees,Private Practice - Firm,Consulting,Business Services
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,2000,$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,1998,$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,1989,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services
668,668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,-1,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown,unknown,Other,unknown
669,669,Data Scientist,Join a thriving company that is changing the w...,-1.0,-1,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown,unknown,Other,unknown
670,670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,-1,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services
671,671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1976,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services

Now the only column left with incomplete values is the founded column, lets check how many values are missing

In [41]:
((df.Founded
  .eq(-1)
  .sum()
))

118

For the mean time I will change the -1 values to NaN, to have a more accurate repressentation of the data

In [45]:
((df
  .assign(salary_estimate=df['Salary Estimate']
          .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
          .str.replace('\\n.*', '', regex=True),
  City=df.Location
          .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
          .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
          .str.replace('-1', 'Overseas'),
  size=df.Size
          .str.replace('-1', 'unknown'),
  type_of_ownership=df['Type of ownership']
          .str.replace('-1', 'unknown')
          .str.replace('/', '-'),
  industry=df.Industry
          .str.replace('-1', 'Other'),
  sector=df.Sector
          .str.replace('-1', 'unknown'),
  founded=df.Founded
          .replace(-1, np.nan),
         )
  .drop(columns=['Salary Estimate', 'Company Name', 'Location',
                'Headquarters', 'Size', 'Type of ownership',
                'Industry', 'Revenue', 'Competitors', 'Sector',
                'Founded'])
))

,index,Job Title,Job Description,Rating,salary_estimate,company_name,City,State,headquarters,size,type_of_ownership,industry,sector,founded
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,1993.0
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,1968.0
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees,Private Practice - Firm,Consulting,Business Services,1981.0
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,2000.0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,1998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,1989.0
668,668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown,unknown,Other,unknown,NaN
669,669,Data Scientist,Join a thriving company that is changing the w...,-1.0,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown,unknown,Other,unknown,NaN
670,670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,NaN
671,671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,1976.0

For the last step I will save all of the changes into a single function

In [46]:
def clean_function(input_df):
    return ((input_df
  .assign(salary_estimate=df['Salary Estimate']
          .str.replace(r"\(.+?\)", '', regex=True),
  company_name=df['Company Name']
          .str.replace('\\n.*', '', regex=True),
  City=df.Location
          .str.split(pat=',', expand=True).iloc[:,0],
  State=df.Location
          .str.split(pat=',', expand=True).iloc[:,1],
  headquarters=df.Headquarters
          .str.replace('-1', 'Overseas'),
  size=df.Size
          .str.replace('-1', 'unknown'),
  type_of_ownership=df['Type of ownership']
          .str.replace('-1', 'unknown')
          .str.replace('/', '-'),
  industry=df.Industry
          .str.replace('-1', 'Other'),
  sector=df.Sector
          .str.replace('-1', 'unknown'),
  founded=df.Founded
          .replace(-1, np.nan),
         )
  .drop(columns=['Salary Estimate', 'Company Name', 'Location',
                'Headquarters', 'Size', 'Type of ownership',
                'Industry', 'Revenue', 'Competitors', 'Sector',
                'Founded'])
))

clean_function(df)

,index,Job Title,Job Description,Rating,salary_estimate,company_name,City,State,headquarters,size,type_of_ownership,industry,sector,founded
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,$137K-$171K,Healthfirst,New York,NY,"New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,1993.0
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,$137K-$171K,ManTech,Chantilly,VA,"Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,1968.0
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,$137K-$171K,Analysis Group,Boston,MA,"Boston, MA",1001 to 5000 employees,Private Practice - Firm,Consulting,Business Services,1981.0
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,$137K-$171K,INFICON,Newton,MA,"Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,2000.0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,$137K-$171K,Affinity Solutions,New York,NY,"New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,1998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,$105K-$167K,TRANZACT,Fort Lee,NJ,"Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,1989.0
668,668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,$105K-$167K,JKGT,San Francisco,CA,Overseas,unknown,unknown,Other,unknown,NaN
669,669,Data Scientist,Join a thriving company that is changing the w...,-1.0,$105K-$167K,AccessHope,Irwindale,CA,Overseas,unknown,unknown,Other,unknown,NaN
670,670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,$105K-$167K,ChaTeck Incorporated,San Francisco,CA,"Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,NaN
671,671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,$105K-$167K,1-800-Flowers,New York,NY,"Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,1976.0